body{
  background-color:#dfe6ea;
}
#line, #line2{
  fill:none;
  stroke:#363813;
}
.line{
    stroke-width:3px;
}
.xAxis .tick{
    opacity:0;
  }
circle:hover{
  fill:#848c57;
}
circle{
  fill:#c6d6b0;
}
.hidden{
  display:none;
}
#tooltip1,#tooltip2{
  position:absolute;
  width:80px;
  padding:10px;
  border-radius: 10px;
  pointer-events:none;
  background-color:white;
  box-shadow:4px 4px 10px rgba(0,0,0,0.4);

}
#line{
  position:absolute;
  top:150px;
  left:25%
}
#line2{
  position:absolute;
  top:750px;
  left:25%;
}
.prev img{
  position:fixed;
  top:20px;
}
.prev button{
  position:fixed;
  top:35px;
  left:70px;
}
.next img{
  position:fixed;
  top:20px;
  right:20px;
}
.next button{
  position:fixed;
  top:35px;
  right:80px;
}
.student{
  position:absolute;
  left:50%;
}
.student p{
  position:absolute;
  left:15px;
  width:100px;
}
#directory{
  position:fixed;
  bottom:12%;
  right:80px;
}
#home{
  position:fixed;
  bottom:8%;
  right:80px;
}
text{
  font-size:14px;
  fill:#363813;
}
.testline{
  fill:none;
  stroke:teal;
}
